{% from 'components/btn_link.jinja' import btn_link %}
<header class="fixed z-50 px-4 w-full max-w-4xl">
  <div class="flex flex-row justify-between items-center py-2 px-6 border-b border-x border-x-primary h-18 bg-popover">
    <a class="text-xl font-medium">Juan Bautista</a>
    <div class="flex flex-row justify-center">
      {{ btn_link(url="/", text="home") }}
      {{ btn_link(url="/projects", text="projects") }}
    </div>
  </div>
</header>
