<div>
  <h1 class="mb-6">
    Top Skills
  </h1>

  <div class="grid grid-cols-3 grid-rows-5 h-56">
    <div class="col-start-3 row-start-1 grid-cell bg-primary/20">
      AWS
    </div>

    <div class="col-start-1 row-start-1 grid-cell bg-accent/95">
      Node/Bun
    </div>
    <div class="col-start-2 row-start-2 grid-cell bg-accent/95">
      TypeScript
    </div>
    <div class="col-start-3 row-start-3 grid-cell bg-accent/95">
      React
    </div>

    <div class="col-start-1 row-start-3 grid-cell bg-secondary/70">
      Airflow
    </div>
    <div class="col-start-2 row-start-4 grid-cell bg-secondary/70">
      Python
    </div>
    <div class="col-start-3 row-start-5 grid-cell bg-secondary/70">
      Pandas
    </div>

    <div class="col-start-1 row-start-5 grid-cell bg-primary/20">
      Docker
    </div>
  </div>
</div>
