<div>
  <h1 class="mb-6">
    Top Skills
  </h1>

  <div class="grid overflow-hidden grid-cols-3 grid-rows-5 h-56 rounded">
    <div class="col-start-1 row-start-1 grid-cell bg-accent/90">
      Node/Bun
    </div>

    <div class="mx-1 mb-1 rounded border-[1.5px] border-primary/30"></div>

    <div class="col-start-3 row-start-1 grid-cell bg-accent/90">
      AWS
    </div>

    <div class="my-1 mr-1 rounded border-[1.5px] border-primary/30"></div>

    <div class="col-start-2 row-start-2 grid-cell bg-accent/90">
      TypeScript
    </div>

    <div class="my-1 ml-1 rounded border-[1.5px] border-primary/30"></div>

    <div class="col-start-3 row-start-3 grid-cell bg-accent/90">
      React
    </div>

    <div class="m-1 rounded border-[1.5px] border-primary/30"></div>

    <div class="col-start-1 row-start-3 grid-cell bg-accent/90">
      Airflow
    </div>

    <div class="my-1 mr-1 rounded border-[1.5px] border-primary/30"></div>

    <div class="col-start-2 row-start-4 grid-cell bg-accent/90">
      Python
    </div>

    <div class="my-1 ml-1 rounded border-[1.5px] border-primary/30"></div>

    <div class="col-start-3 row-start-5 grid-cell bg-accent/90">
      Pandas
    </div>

    <div class="mx-1 mt-1 rounded border-[1.5px] border-primary/30"></div>

    <div class="col-start-1 row-start-5 grid-cell bg-accent/90">
      Docker
    </div>
  </div>
</div>
