{% from 'components/btn_external.jinja' import btn_external %}
{% from 'components/image.jinja' import image with context %}
{% from 'components/experience.jinja' import item %}

{% extends 'base.jinja' %}
{% block content %}
  <div class="m-4 space-y-8 sm:m-6">
    <article class="space-y-2">

      <div class="overflow-hidden mb-6 rounded-xl border sm:float-right sm:my-1 sm:mb-0 sm:ml-4 aspect-square sm:size-64">
        {{ image(slug="hero-5509b35e", alt="This is a profile picture", loading="eager", fetchpriority="high") }}
      </div>

      <div class="flex flex-col gap-1 mb-6">
        <h1>
          Developer
        </h1>
        <h2>
          Fullstack & Data Engineering
        </h2>
      </div>
      <p>
        Born and based in Colombia. I speak C1 English and native Spanish.
      </p>
      <p>
        Computers have always been my main interest, from customizing them to
        building them. There is something about having artistic control over a
        computer that I enjoy a lot. These days, I try to keep myself active by
        skateboarding, because to no one's surprise, as a developer I spend many
        hours in a chair. Feel free to reach out to me via LinkedIn if you wish
        to talk!
      </p>
      <h2>
        Ideas I resonate with:
      </h2>
      <ul>
        <li>
          I value products that achieve strong profits through genuine
          quality.
        </li>
        <li>
          <span class="flex flex-wrap gap-1 list-disc">
            I avoid profit strategies that compromise product integrity.
            {{ btn_external(url="https://en.wikipedia.org/wiki/Enshittification", text="Enshittification*") }}
          </span>
        </li>
      </ul>
    </article>
    <div>
      <h1 class="mb-6">
        Experience
      </h1>
      <div class="relative">
        <div class="absolute top-0 left-2 h-full border -translate-x-1/2 pointer-events-none border-primary">
        </div>
        <div class="space-y-14">
          {% for xp in experiences %}
            {{ item(xp) }}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
