{% from 'components/btn_external.jinja' import btn_external %}
{% from 'components/image.jinja' import image with context %}

{% extends "base.jinja" %}
{% block content %}
  <section class="p-4 mx-auto max-w-6xl projects">
    {% for p in projects|sort(attribute="order") %}
      <article class="mb-16">
        <div>
          <header class="flex flex-row flex-wrap gap-4 justify-between items-center mb-6 md:gap-2">
            <h1>
              {{ p.title }}
            </h1>

            {% set L = p.links or {} %}
            {% if L.repo or L.demo or L.docs or L.post %}
              <p class="flex flex-row gap-4 h-fit">
                {% if L.repo %}
                  {{ btn_external(url=L.repo, text="Code", styles="btn-alt", icon_name="github") }}
                {% endif %}
                {% if L.demo %}
                  {{ btn_external(url=L.demo, text="Demo", styles="btn-alt", icon_name="globe") }}
                {% endif %}
              </p>
            {% endif %}

            {% if p.subtitle %}
              <h2 class="w-full">
                {{ p.subtitle }}
              </h2>
            {% endif %}
          </header>

          {% if p.media %}
            <div class="flex flex-wrap gap-4 mb-6">
              {% for m in p.media %}
                <div class="overflow-hidden relative w-full rounded border shadow-2xs">
                  {{ image(slug=m.src, alt=m.alt, styles="aspect-auto w-full md:aspect-[16/7.5]") }}
                </div>
              {% endfor %}
            </div>
          {% endif %}

          {% if p.tech %}
            <p class="flex flex-wrap gap-2 mb-6">
              {% for t in p.tech %}
                <span class="py-0.5 px-2 text-sm transition-all cursor-default hover:rounded-xl bg-accent/80 border-b-[1.5px] hover:border-secondary/80 hover:bg-secondary/80">{{ t }}</span>
              {% endfor %}
            </p>
          {% endif %}
        </div>

        {% if p.bullets %}
          <ul>
            {% for bullet in p.bullets %}
              <li>
                {{ bullet }}
              </li>
            {% endfor %}
          </ul>
        {% endif %}

      </article>
    {% endfor %}
  </section>
{% endblock %}
