@import "tailwindcss";
/* @import "./basecoat.min.css"; */
@import "./theme.css";

@layer utilities {
  h1 {
    @apply font-mono text-2xl font-medium tracking-tighter leading-6;
  }

  h2 {
    @apply text-base font-medium leading-6;
  }

  ul {
    @apply px-4 mt-1 space-y-2 text-sm leading-none list-disc
  }

  .xp-headers{
    @apply flex flex-col h-fit mb-2 gap-1
  }

  .btn-outline {
    @apply hover:shadow hover:bg-primary hover:text-primary-foreground;
  }

  .btn-link {
    @apply text-base hover:font-bold;
  }

  .link {
    @apply px-1 cursor-pointer border-b border-b-primary hover:rounded hover:shadow transition-all text-primary hover:text-accent hover:bg-accent-foreground;
  }

  body::before {
    inset: 0;
    content: "";
    z-index: -2;
    position: fixed;

    background-color: var(--background);
    background-image: url("/static/background.svg");
    background-repeat: repeat-y;
    background-size: 200% 200%;
    animation: pan 180s linear infinite;

    mask: linear-gradient(
        to right,
        hsl(0 0% 0% / 0) 0%,
        hsl(0 0% 0% / 1) 5%,
        hsl(0 0% 0% / 1) 95%,
        hsl(0 0% 0% / 0) 100%
      )
      0 0 / 100% 100% no-repeat;
  }
}

@theme inline {
  @keyframes pan {
    0% {
      background-position: right;
    }
    100% {
      background-position: center;
    }
  }
}
