@import "tailwindcss";
@import "./theme.css";

@layer utilities {
  h1 {
    @apply font-mono text-2xl font-medium tracking-tighter leading-6;
  }

  h2 {
    @apply font-mono text-muted-foreground;
  }

  h3 {
    @apply text-base font-medium leading-6;
  }

  ul {
    @apply px-4 mt-1 space-y-2 leading-none list-disc;
  }

  li {
    @apply text-base/6;
  }

  .container {
    @apply max-w-4xl  w-full px-4;
  }

  .xp-headers {
    @apply flex flex-col h-fit mb-2 gap-1;
  }

  .link {
    @apply px-1 cursor-pointer border-b-[1.5px] transition-all w-fit;
    @apply hover:rounded hover:shadow hover:text-accent hover:bg-accent-foreground;
    @apply active:rounded active:shadow active:text-accent active:bg-accent-foreground;
  }

  .btn-alt {
    @apply px-2 py-0.5 cursor-pointer bg-accent/80 border-b-[1.5px] transition-all;
    @apply hover:rounded hover:shadow hover:text-accent hover:bg-accent-foreground;
    @apply active:rounded active:shadow active:text-accent active:bg-accent-foreground;
  }

  body::before {
    inset: 0;
    content: "";
    z-index: -2;
    position: fixed;
    background-size: 200% 200%;
    background-repeat: repeat-y;
    background-image: url("/static/background.svg");
  }
}

@theme inline {
  @keyframes pan {
    0% {
      background-position: right;
    }

    100% {
      background-position: center;
    }
  }
}
