{# templates/components/icon.jinja #}
{% macro icon(name, classes="size-4" ) %}
  <span class="inline-flex items-center justify-center {{ classes }}">
    {{ load_svg_content(name) |safe }}
  </span>
{% endmacro %}
