{# templates/components/icon.jinja #}
{% macro icon(name, class="") %}
  <span class="inline-flex items-center justify-center size-5 {{ class }}">
    {{ load_svg_content(name) |safe }}
  </span>
{% endmacro %}
