{% extends 'base.jinja' %}
{% block header %}
    <header class="fixed z-50 py-2 px-4 w-full border border-b bg-background/30 backdrop-blur">
        <div class="flex flex-row justify-between items-center">
            <a class="text-xl font-medium hover:underline underline-offset-4">Juan Bautista</a>
            <div class="flex flex-row justify-center">
                <a class="btn-link">home</a>
                <a class="btn-link">about</a>
            </div>
        </div>
    </header>
{% endblock header %}
